.wechatface { width: 24px; height: 24px; display: -moz-inline-stack; display: inline-block; vertical-align: top; zoom: 1; *display: inline; background-size: 24px 24px; }
.wechatface_0               {background-image: url("face/0.gif");}
.wechatface_1               {background-image: url("face/1.gif");}
.wechatface_2               {background-image: url("face/2.gif");}
.wechatface_3               {background-image: url("face/3.gif");}
.wechatface_4               {background-image: url("face/4.gif");}
.wechatface_5               {background-image: url("face/5.gif");}
.wechatface_6               {background-image: url("face/6.gif");}
.wechatface_7               {background-image: url("face/7.gif");}
.wechatface_8               {background-image: url("face/8.gif");}
.wechatface_9               {background-image: url("face/9.gif");}
.wechatface_10              {background-image: url("face/10.gif");}
.wechatface_11              {background-image: url("face/11.gif");}
.wechatface_12              {background-image: url("face/12.gif");}
.wechatface_13              {background-image: url("face/13.gif");}
.wechatface_14              {background-image: url("face/14.gif");}
.wechatface_15              {background-image: url("face/15.gif");}
.wechatface_16              {background-image: url("face/16.gif");}
.wechatface_17              {background-image: url("face/17.gif");}
.wechatface_18              {background-image: url("face/18.gif");}
.wechatface_19              {background-image: url("face/19.gif");}
.wechatface_20              {background-image: url("face/20.gif");}
.wechatface_21              {background-image: url("face/21.gif");}
.wechatface_22              {background-image: url("face/22.gif");}
.wechatface_23              {background-image: url("face/23.gif");}
.wechatface_24              {background-image: url("face/24.gif");}
.wechatface_25              {background-image: url("face/25.gif");}
.wechatface_26              {background-image: url("face/26.gif");}
.wechatface_27              {background-image: url("face/27.gif");}
.wechatface_28              {background-image: url("face/28.gif");}
.wechatface_29              {background-image: url("face/29.gif");}
.wechatface_30              {background-image: url("face/30.gif");}
.wechatface_31              {background-image: url("face/31.gif");}
.wechatface_32              {background-image: url("face/32.gif");}
.wechatface_33              {background-image: url("face/33.gif");}
.wechatface_34              {background-image: url("face/34.gif");}
.wechatface_35              {background-image: url("face/35.gif");}
.wechatface_36              {background-image: url("face/36.gif");}
.wechatface_37              {background-image: url("face/37.gif");}
.wechatface_38              {background-image: url("face/38.gif");}
.wechatface_39              {background-image: url("face/39.gif");}
.wechatface_40              {background-image: url("face/40.gif");}
.wechatface_41              {background-image: url("face/41.gif");}
.wechatface_42              {background-image: url("face/42.gif");}
.wechatface_43              {background-image: url("face/43.gif");}
.wechatface_44              {background-image: url("face/44.gif");}
.wechatface_45              {background-image: url("face/45.gif");}
.wechatface_46              {background-image: url("face/46.gif");}
.wechatface_47              {background-image: url("face/47.gif");}
.wechatface_48              {background-image: url("face/48.gif");}
.wechatface_49              {background-image: url("face/49.gif");}
.wechatface_50              {background-image: url("face/50.gif");}
.wechatface_51              {background-image: url("face/51.gif");}
.wechatface_52              {background-image: url("face/52.gif");}
.wechatface_53              {background-image: url("face/53.gif");}
.wechatface_54              {background-image: url("face/54.gif");}
.wechatface_55              {background-image: url("face/55.gif");}
.wechatface_56              {background-image: url("face/56.gif");}
.wechatface_57              {background-image: url("face/57.gif");}
.wechatface_58              {background-image: url("face/58.gif");}
.wechatface_59              {background-image: url("face/59.gif");}
.wechatface_60              {background-image: url("face/60.gif");}
.wechatface_61              {background-image: url("face/61.gif");}
.wechatface_62              {background-image: url("face/62.gif");}
.wechatface_63              {background-image: url("face/63.gif");}
.wechatface_64              {background-image: url("face/64.gif");}
.wechatface_65              {background-image: url("face/65.gif");}
.wechatface_66              {background-image: url("face/66.gif");}
.wechatface_67              {background-image: url("face/67.gif");}
.wechatface_68              {background-image: url("face/68.gif");}
.wechatface_69              {background-image: url("face/69.gif");}
.wechatface_70              {background-image: url("face/70.gif");}
.wechatface_71              {background-image: url("face/71.gif");}
.wechatface_72              {background-image: url("face/72.gif");}
.wechatface_73              {background-image: url("face/73.gif");}
.wechatface_74              {background-image: url("face/74.gif");}
.wechatface_75              {background-image: url("face/75.gif");}
.wechatface_76              {background-image: url("face/76.gif");}
.wechatface_77              {background-image: url("face/77.gif");}
.wechatface_78              {background-image: url("face/78.gif");}
.wechatface_79              {background-image: url("face/79.gif");}
.wechatface_80              {background-image: url("face/80.gif");}
.wechatface_81              {background-image: url("face/81.gif");}
.wechatface_82              {background-image: url("face/82.gif");}
.wechatface_83              {background-image: url("face/83.gif");}
.wechatface_84              {background-image: url("face/84.gif");}
.wechatface_85              {background-image: url("face/85.gif");}
.wechatface_86              {background-image: url("face/86.gif");}
.wechatface_87              {background-image: url("face/87.gif");}
.wechatface_88              {background-image: url("face/88.gif");}
.wechatface_89              {background-image: url("face/89.gif");}
.wechatface_90              {background-image: url("face/90.gif");}
.wechatface_91              {background-image: url("face/91.gif");}
.wechatface_92              {background-image: url("face/92.gif");}
.wechatface_93              {background-image: url("face/93.gif");}
.wechatface_94              {background-image: url("face/94.gif");}
.wechatface_95              {background-image: url("face/95.gif");}
.wechatface_96              {background-image: url("face/96.gif");}
.wechatface_97              {background-image: url("face/97.gif");}
.wechatface_98              {background-image: url("face/98.gif");}
.wechatface_99               {background-image: url("face/99.gif");}
.wechatface_100              {background-image: url("face/100.gif");}
.wechatface_101              {background-image: url("face/101.gif");}
.wechatface_102              {background-image: url("face/102.gif");}
.wechatface_103              {background-image: url("face/103.gif");}
.wechatface_104              {background-image: url("face/104.gif");}
