/*幸运大转盘样式 - no*/
.frm_title {
  font-size: 13px;
  height: 32px;
  line-height: 32px;
  border-bottom: 1px dotted #e7e7eb;
  margin-bottom: 25px;
  margin-top: 0px;
  font-weight: normal;
  color: #222;
}

.frm_title .frm_title_dec {
  color: #8d8d8d;
  font-size: 12px;
  margin-left: 1em;
  font-weight: normal;
}

.line-top {
  margin-top: 50px;
}

.prize-float {
  width: 66%;
  margin-left: 6em;
}

.panel-default>.panel-heading .badge {
  background-color: #1ab667;
}
